  
<div class="container" id="title">
    <h2>Login to access every feature of Git In Shape</h2>
</div>

<div class="container" id="login-container">
    <div class="form-group col-md-6">
        <label for="inputUsername4" class="col-form-label">Username</label>
        <input type="username" class="form-control" [(ngModel)]="inputName" placeholder="Username">
    </div>
    <div class="form-group col-md-6">
        <label for="inputPassword4" class="col-form-label">Password</label>
        <input type="password" class="form-control" [(ngModel)]="inputPassword" placeholder="Password">
    </div>
    <button type="button" class="btn btn-primary" (click)="login(inputName, inputPassword, '','../assets/img/default.png')">Login</button>
    <button type="button" class="btn btn-primary" (click)="loginFB()" >Login with FB</button>
</div>