<body>    
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Git In Shape</h1>
            <h3>The only fitness tracker whose name is a clever pun</h3>
            <hr class="my-4">
            <p>Keep track of your physical activity and more! With this easy-to-use application, you'll be on your way to a healthier you!</p>
        </div>
        <h2 align="center">Memberships</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                    <div class="card-body">
                    <h4 class="card-title">Standard</h4>
                    <p class="card-text">Access to the workout tracker and profile management</p>
                    <h5>Free</h5>
                    <a class="btn btn-success" routerLink="/login">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                    <div class="card-body">
                    <h4 class="card-title">Premium</h4>
                    <p class="card-text">Every feature in the Standard membership plus exclusive health tip videos </p>
                    <h5>$4.99/month</h5>
                    <a class="btn btn-success" routerLink="/login">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                    <div class="card-body">
                    <h4 class="card-title">Gold</h4>
                    <p class="card-text">Every feature in the Premium membership plus access to video chats with our personal trainers</p>
                    <h5>$9.99/month</h5>
                    <a class="btn btn-success" routerLink="/login">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>