body { 
    background-image: url("https://cdn.squaremile.com/gallery/59104f952e11f.jpeg");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}

.card-text {
    height: 72px;
}