<body>
    <div class="container">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">{{me.name}}'s Tracker
                        <img [src]="me.picture" style="width: 56px;" class="rounded" />
                    </h1>
                    <p class="lead">Keep track of every workout. Choose from the list or add your own!</p>
                </div>
            </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="background-color: #e9ecef">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-header">
                                Routines
                            </div>
                            <ul class="list-group list-group-flush" id="routine-List">
                                <input class="form-control" [(ngModel)]="customRoutine" placeholder="Routine...">
                                <button type="submit" class="btn btn-primary" (click)="AddToDone(customRoutine)">Enter Custom Routine</button>
                                <ul class="list-group list-group-flush" id="routines">
                                    <li *ngFor="let x of this.tracker.routineList; index as i" class="list-group-item" (click)="AddToDone(x.name)">
                                        <span>{{x.name}}</span>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="background-color: #e9ecef">
                    <div class="card-body">
                        <div class="card" >
                            <div class="card-header">
                                <span> My Routines </span>
                                <span style="float:right"> Time Spent </span>
                            </div>
                            <ul class="list-group list-group-flush" id="my-routines">
                                <li *ngFor="let x of this.tracker.myRoutines; index as i" class="list-group-item" (click)="removeFromMyExercises(x)">
                                    <span title="Click to remove">{{x.name}}</span>
                                    <span style="float:right">{{x.duration + " " + "minutes"}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="background-color: #e9ecef">
                    <div class="card-body">
                        <div class="card" >
                            <div class="card-header">
                                <span>Total time = {{this.tracker.totalTime}} minutes</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>